:root {
	--bar-color: var(--mcw-anesth-light-green, royalblue);
	--border-color: #ccc;
}

html,
body {
	margin: 0;
	padding: 0;
}

summary {
	cursor: pointer;
	list-style-position: outside;
}

details {
	padding: 1em;
}

fieldset {
	border: 1px solid var(--border-color);
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: -1em;
}

.row > * {
	flex-basis: 50%;
	flex: 1 1;
	margin: 1em;
	min-width: 300px;
	max-width: 100%;
}

label > input,
label > select {
	display: block;
}

label > input[type='checkbox'],
label > input[type='radio'] {
	display: inline-block;
}

.button-container {
	flex-basis: 100%;
	margin: 1em;
	text-align: center;
}

.button-container > button {
	display: inline-block;
	margin: 0.5em;
}

.results {
	margin: 1em;
	text-align: center;
}

.results-controls {
	margin-bottom: 1em;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.25em 0.5em;
	border: 1px dotted var(--border-color);
}

th {
	text-align: left;
	font-weight: normal;
}

thead th {
	font-weight: bold;
}

th.numeric,
td.numeric {
	text-align: right;
}

a.disabled {
	color: #888;
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.75em;
}
